<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/FrontEnd/style/style_clients.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <style>
        .toast-error{
            background-color: red;
        }
        .toast-success{
            background-color: green;
        }
    </style>

    <link rel="stylesheet" href="/FrontEnd/style/fontello.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients</title>
</head>

<body>
    <!--INICIO MENU SUPERIOR -->
    <header class="header">
        <div class="logo">
            <h1>Logo</h1>
        </div>
        
        <nav class="menu-superior">
            <a href="#" id="user"></a>
            <a href="#" onclick="cerrarSesion()"> Cerrar sesion</a>
        </nav>
        

    </header>
<!-- FIN MENU SUPERIOR -->

<!-- INICIO MENU LATERAL -->
<div class="container2">
    <div class="cont-menu-lateral">
        <nav>
            <a id="homeLateral" class="icon-home" href="/FrontEnd/view/home.html" onclick="alter(this,'red')">  Home</a>
            <a style="background-color: #323fff;" id="clientsLateral" class="icon-users" href="clients.html" onclick="client()">  Clients</a>
            <a id="leadLateral" class="icon-users" href="lead.html">  Lead</a>
            <a id="ordersLateral" class="icon-check" href="orders.html">  Orders</a>
            <a id="productsLateral" class="icon-basket" href="products.html">  Products</a>
            <a id="reportLateral" class="icon-doc-inv" href="#">Report</a>
            <a id="manageLateral" class="icon-users" href="manage.html"> Manage</a>
        </nav>
    </div>

</div>
<script src="../js/Header.js"></script>
<!-- FIN MENU LATERAL -->

        <!-- BOTONES E INPUT-->
        <div class="buttons">
            <div class="input-group flex-nowrap">
                <button id="btn-agg-client" class="btn btn-primary">Add New Client <i class="icon-user-add"></i>
                </button>
                <span class="input-group-text" id="icon-input-search"><i class="icon-id"></i></span>
                <input id="input-search" type="text" class="form-control" placeholder="Insert ID">
                <button onclick="search()" class="btn btn-primary" id="btn-search">Buscar <i
                        class="icon-search"></i></button>
            </div>

        </div>
        <!-- BOTONES E INPUT-->

        <!-- INICIO TABLA -->

        <div class="cont-tabla">

            <table id="clients" class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>CELLPHONE</th>
                        <th>MAIL</th>
                        <th>ADDRESS</th>
                        <th>ACTIONS</th>
                    </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
        <!-- FIN TABLA -->



    </div>
    <!--FIN CONTAINER2-->

    <!-- BEGINNING MODAL POPUP -->
    <section class="modal1">
        <div class="modal_container">
            <div>
                <div>
                    <div>
                        <h1 class="con3title">Register New Client</h1>
                        <div class="center-forms">
                            <form action="#" method="post">
                                <div class="con3">
                                    <p class="con3p">Identification Number</p>
                                    <img class="con3img" src="../img/register_id.png" height="30px">
                                    <input class="con3inputs" type="text" name="id" id="txtId"
                                        placeholder="10002222334">
                                </div>
                                <div class="con3">
                                    <p class="con3p">Full Name</p>
                                    <img class="con3img" src="../img/register_id.png" height="30px">
                                    <input class="con3inputs" type="text" name="name" id="txtName"
                                        placeholder="Pimienta Pimienta">
                                </div>
                                <div class="con3">
                                    <p class="con3p">Phone Number</p>
                                    <img class="con3img" src="../img/register_phone.png" height="30px">
                                    <input class="con3inputs" type="text" name="cellPhone" id="txtCellPhone"
                                        placeholder="300999888">
                                </div>

                                <div class="con3">
                                    <p class="con3p">Address</p>
                                    <img class="con3img" src="../img/register_address.png" height="30px">
                                    <input class="con3inputs" type="text" name="adress" id="txtAdress"
                                        placeholder="Calle 1">
                                </div>

                                <div class="con3">
                                    <p class="con3p">Email</p>
                                    <img class="con3img" src="../img/email.png" height="30px">
                                    <input class="con3inputs" type="text" name="mail" id="txtMail"
                                        placeholder="example123@mail.com">
                                </div>
                            </form>
                            <a href="./succesful_re.html"><button class="register_button"
                                    onclick="register()">Register</button></a>
                        </div> <!-- END MODAL POPUP -->
                    </div> <!-- END COINTAINER3 -->
                    <a href="#" class="modal_close">X</a>
                </div><!-- END MODAL CONTAINER -->
    </section>
    <!-- END MODAL POPUP -->
    <section class="modal2">
        <div class="modal_container2">
            <div>
                <div class="container3">
                    <div class="con3cloud1">ㅤ</div>
                    <div class="con3cloud2">ㅤ</div>
                    <div class="con3cloud3">ㅤ</div>
                    <div class="con3cloud4">ㅤ</div>
                    <div class="container4">
                        <img src="../img/figma_regis_check.png" height="300" class="con4img">
                        <h1 class="con4title">Succesful Registration</h1>
                        <h3></h3>
                    </div>
                </div>
                <a id="modal_close2" href="./clients.html"><button class="register_button2">Close</button></a>
            </div> <!-- END MODAL POPUP -->
        </div> <!-- END COINTAINER4 -->
        </div><!-- END MODAL CONTAINER -->
    </section>





    <!-- Modal -->
    <div class="modal fade modal-lg" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="title-modal">EDIT CLIENT</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBody">
                    <div class="input-group">
                        <span class="input-group-text" id="icon-input-id"><i class="icon-id"></i></span>
                        <input id="id-modal" type="text" class="form-control" readonly>
                    </div>
                    <label for="id-modal" class="form-label">Id</label>

                    <div class="input-group">
                        <span class="input-group-text" id="icon-input-id"><i class="icon-doc-inv"></i></span>
                        <input id="mail-modal" type="text" class="form-control" >
                    </div>
                    <label class="form-label">Mail</label>
                    <label class="form-label">Please insert the new Mail</label>

                    <div class="input-group">
                        <span class="input-group-text" id="icon-input-name"><i class="icon-user-2"></i></span>
                        <input id="name-modal" type="text" class="form-control" placeholder="Insert Name">
                    </div>
                    <label class="form-label">Please insert the new Name</label>

                    <div class="input-group ">
                        <span class="input-group-text" id="icon-input-id"><i class="icon-mobile"></i></span>
                        <input id="cel-modal" type="text" class="form-control" placeholder="Insert cellPhone">
                    </div>
                    <label class="form-label">Please insert the new cellPhone</label>

                    <div class="input-group">
                        <span class="input-group-text" id="icon-input-address"><i class="icon-home"></i></span>
                        <input id="address-modal" type="text" class="form-control" placeholder="Insert Address">
                    </div>
                    <label for="id-modal" class="form-label">Please insert the new Address</label>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" onclick="edit()" id="save-edit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>




</body>

</html>

<script src="../js/clients.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>