<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/FrontEnd/style/style_home.css">
    <link rel="stylesheet" href="/FrontEnd/style/fontello.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients</title>
</head>
<body>
<!--INICIO MENU SUPERIOR -->
<header class="header">
    <div class="logo">
        <h1>Logo</h1>
    </div>
    
    <nav class="menu-superior">
        <a href="#"> <i class="icon-users" ></i> User</a>
    </nav>
    
</header>
<!-- FIN MENU SUPERIOR -->

<!-- INICIO MENU LATERAL -->
<div class="container2">
    <div class="cont-menu-lateral">
        <nav>
            <a class="" href="home.html">Home</a>
            <a class="" href="clients.html">Clients</a>
            <a class="" href="lead.html">Lead</a>
            <a class="" href="orders.html">Orders</a>
            <a class="" href="products.html">Products</a>
        </nav>
        <label for="btn-menu" class="icon-cancel"></label>
    </div>

</div>
<!-- FIN MENU LATERAL -->
</body>
</html>