<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/style_all.css">
    <link rel="stylesheet" href="/FrontEnd/style/style_home.css">
    <link rel="stylesheet" href="/FrontEnd/style/fontello.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<!--INICIO MENU SUPERIOR -->
    <header class="header">
        <div class="logo">
            <img id="imgLogo" src="../img/logo_f.png" alt="">
        </div>
        
        <nav class="menu-superior">
            <a href="#" id="user"></a>
            <a href="#" onclick="cerrarSesion()"> Cerrar sesion</a>
        </nav>   
    </header>

<!-- FIN MENU SUPERIOR -->

<!-- INICIO MENU LATERAL -->
<div class="container2">
    <div class="cont-menu-lateral">
        <nav>
            <a style="background-color: #1636eb;" id="homeLateral" class="icon-home" href="/FrontEnd/view/home.html" onclick="alter(this,'red')">  Home</a>
            <a id="clientsLateral" class="icon-users" href="clients.html">  Clients</a>
            <a style="background-color: #1636eb;" id="leadLateral" class="icon-users" href="lead.html">  Lead</a>
            <a id="ordersLateral" class="icon-check" href="orders.html">  Orders</a>
            <a style="background-color: #1636eb;" id="productsLateral" class="icon-basket" href="products.html">  Products</a>
            <a id="reportLateral" class="icon-doc-inv" href="report.html">Report</a>
            <a style="background-color: #1636eb;" id="manageLateral" class="icon-users" href="manage.html"> Manage</a>
        </nav>
    </div>

</div>
<script src="../js/Header.js"></script>
<!-- FIN MENU LATERAL -->
<!-- BEGINNING SLIDER LOGOS-->
<div class="slider_logos">
    <div class="slide-track_logos">
        <div class="slide_logos">
            <img src="../img/nutresa_logos/1.png" alt="" height="150vh">
        </div>
        <div class="slide_logos">
            <img src="../img/nutresa_logos/2.jpg" alt="" height="150vh">
        </div>
        <div class="slide_logos">
            <img src="../img/nutresa_logos/3.png" alt="" height="150vh">
        </div>
        <div class="slide_logos">
            <img src="../img/nutresa_logos/4.png" alt="" height="150vh">
        </div>
        <div class="slide_logos">
            <img src="../img/nutresa_logos/5.png" alt="" height="150vh">
        </div>
        <div class="slide_logos">
            <img src="../img/nutresa_logos/6.png" alt="" height="150vh">
        </div>
        <div class="slide_logos">
            <img src="../img/nutresa_logos/7.png" alt="" height="150vh">
        </div>
        <div class="slide_logos">
            <img src="../img/nutresa_logos/8.png" alt="" height="150vh">
        </div>
        <div class="slide_logos">
            <img src="../img/nutresa_logos/9.png" alt="" height="150vh">
        </div>
        <div class="slide_logos">
            <img src="../img/nutresa_logos/10.png" alt="" height="150vh">
        </div>
        <div class="slide_logos">
            <img src="../img/nutresa_logos/1.png" alt="" height="150vh">
        </div>
        <div class="slide_logos">
            <img src="../img/nutresa_logos/2.jpg" alt="" height="150vh">
        </div>
        <div class="slide_logos">
            <img src="../img/nutresa_logos/3.png" alt="" height="150vh">
        </div>
        <div class="slide_logos">
            <img src="../img/nutresa_logos/4.png" alt="" height="150vh">
        </div>
        <div class="slide_logos">
            <img src="../img/nutresa_logos/5.png" alt="" height="150vh">
        </div>
        <div class="slide_logos">
            <img src="../img/nutresa_logos/6.png" alt="" height="150vh">
        </div>
        <div class="slide_logos">
            <img src="../img/nutresa_logos/7.png" alt="" height="150vh">
        </div>
        <div class="slide_logos">
            <img src="../img/nutresa_logos/8.png" alt="" height="150vh">
        </div>
        <div class="slide_logos">
            <img src="../img/nutresa_logos/9.png" alt="" height="150vh">
        </div>
        <div class="slide_logos">
            <img src="../img/nutresa_logos/10.png" alt="" height="150vh">
        </div>
    </div>
</div>
<!-- END SLIDER LOGOS -->
<h1></h1>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="home_chart">
    <div id="regions_div" style="width: 700px; height: 500px;"></div>
    <a href="https://data.gruponutresa.com/informes/Informe_integrado_2021-Grupo_Nutresa.pdf" target="_blank">Informe Integrado 2021</a>
</div>

</body>

</html>
<script src="../js/home.js"></script>
