<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/FrontEnd/style/style_register.css">
    <link rel="stylesheet" href="/FrontEnd/style/fontello.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<!--INICIO MENU SUPERIOR -->
    <header class="header">
        <div class="logo">
            <h1>Logo</h1>
        </div>
        
        <nav class="menu-superior">
            <a href="#"> <i class="icon-users" ></i> User</a>
        </nav>
        
    </header>
<!-- FIN MENU SUPERIOR -->

<!-- INICIO MENU LATERAL -->
<div class="container2">
    <div class="cont-menu-lateral">
        <nav>
            <a id="b" class="icon-home" href="/FrontEnd/view/home.html" onclick="alter(this,'red')">  Home</a>
            <a class="icon-users" href="clients.html">  Clients</a>
            <a id="b" class="icon-users" href="lead.html">  Lead</a>
            <a class="icon-check" href="orders.html">  Orders</a>
            <a id="b" class="icon-basket" href="products.html">  Products</a>
            <a class="icon-users" href="home_register.html">  Register User</a>
            <a id="admin" class="icon-doc-inv" href="#">  Report</a>
            <a id="admin" class="icon-users" href="#">  Create User</a>
        </nav>
    </div>
<!-- Hay que arreglar todos los div, solo hago el formulario para que funcione el back -->
<!-- No cambiar los id -->
<!-- FIN MENU LATERAL -->

    <div class="container3">
        <h1 class="con3title">Register New User</h1>
        <div class="center-forms">
        <form action="#" method="post">
            <div class="con3">
                <p class="con3p">Identification Number</p>
                <img class="con3img" src="../img/register_id.png" height="30px">
                <input class="con3inputs" type="text" name="id" id="txtId" placeholder="10002222334" >
            </div>
            <div class="con3">
                <p class="con3p">Full Name</p>
                <img class="con3img" src="../img/register_id.png" height="30px">
                <input class="con3inputs" type="text" name="name" id="txtName" placeholder="Pimienta Pimienta">
            </div>
            <div class="con3">
                <p class="con3p">Phone Number</p>
                <img class="con3img" src="../img/register_phone.png" height="30px">
                <input class="con3inputs" type="text" name="cellPhone" id="txtCellPhone" placeholder="300999888">
            </div>

            <div class="con3">
                <p class="con3p">Address</p>
                <img class="con3img" src="../img/register_address.png" height="30px">
                <input class="con3inputs" type="text" name="adress" id="txtAdress" placeholder="Calle 1">
            </div>

            <div class="con3">
                <p class="con3p">Email</p>
                <img class="con3img" src="../img/email.png" height="30px">
                <input class="con3inputs" type="text" name="mail" id="txtMail" placeholder="example123@mail.com">
            </div>

            <div class="con3">
                <p class="con3p">Type of User</p>
                <img class="con3img" src="../img/register_tuser.png" height="30px">
                <select class="con3select" name="type" id="txtType">
                    <option value="ClientService" selected>Call Center User</option>
                    <option value="Admin">Admin</option>
                    <option value="Manager">Manager</option>
                  </select>
            </div>

            <div class="con3pass">
                <p class="con3p">Password</p>
                <img class="con3img" src="../img/padlock.png" height="30px">
                <input class="con3input_pass" type="password" name="password" id="txtPassword" placeholder="123sdf">
            </div> 

            <div class="con3pass">
                <p class="con3p">Repeat Password</p>
                <img class="con3img" src="../img/padlock.png" height="30px">
                <input class="con3input_pass" type="password" name="password" id="txtRepeat" placeholder="123sdf">
            </div> 
        </form>
        <a href="./succesful_re.html"><button class="register_button" onclick="register()">Register</button></a>
            </div>
    </div> <!-- FIN MENU LATERAL -->
</div>

</body>
</html>

<script>
    function alter(){
        elem = document.getElementById('admin');
        elem.style.opacity = 1;
    }
</script>
