<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/FrontEnd/style/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="container1">
            <div class="con1left"><img class="img_container1" src="../img/20943705.png" width="500px"></div>
            <div class="con1right">
                <div class="con1right_top">
                    <h3 class="con1account">Don't have an account?</h3>
                    <button class="con1button_top">Sign up</button>
                </div>
                        <h1 class="con1title">Hello!, Welcome back.</h1>
                        <h3 class="con1subtitle">Login with your data that you entered<br> during your registration.</h3>
                <form action="#" method="post">
                    <div class="con1email">
                        <p class="con1p">Email</p>
                        <img class="con1img" src="../img/email.png" height="30px">
                        <input class="con1input_email" type="text" name="user" placeholder="example123@mail.com">
                    </div>
                    <div class="con1pass">
                        <p class="con1p">Password</p>
                        <img class="con1img" src="../img/padlock.png" height="30px">
                        <input class="con1input_pass" type="password" name="password" placeholder="">
                    </div>
                </form>
                <button class="boton_login">Login</button>
                <a href="Register.html">Registrarse</a>
            </div>
        </div>
    </div>
    
</body>
</html>