<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/FrontEnd/style/style_clients.css">
    <link rel="stylesheet" href="/FrontEnd/style/fontello.css">
    <link rel="stylesheet" href="/FrontEnd/style/style_leads.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lead</title>
</head>
<body>
<!--INICIO MENU SUPERIOR -->
    <header class="header">
        <div class="logo">
            <h1>Logo</h1>
        </div>
        
        <nav class="menu-superior">
            <a href="#"> <i class="icon-users" ></i> User</a>
        </nav>
        
    </header>
  
<!-- FIN MENU SUPERIOR -->

<!-- INICIO MENU LATERAL -->
<div class="container2">
    <div class="cont-menu-lateral">
        <nav>
            <a id="b" class="icon-home" href="/FrontEnd/view/home.html">  Home</a>
            <a class="icon-users" href="clients.html">  Clients</a>
            <a id="b" class="icon-users" href="lead.html">  Lead</a>
            <a class="icon-check" href="orders.html">  Orders</a>
            <a id="b" class="icon-basket" href="products.html">  Products</a>
            <a id="admin" class="icon-doc-inv" href="#">  Report</a>
            <a id="admin" class="icon-users" href="#">  Create User</a>
        </nav>
    </div>
<!-- FIN MENU LATERAL -->

    <!-- INICIO TABLA -->

    <div class="cont-tabla">

        <button onclick="show()" id="btn-agg-lead" class="btn btn-info">Agregar Cliente Potencial <i class="icon-user-add"></i> </button>

        <table id="leads" class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>CELLPHONE</th>
                    <th>MAIL</th>
                    <th>ADRESS</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>

    </div>

    <!-- FIN TABLA -->


</div>

</body>
</html>

<script src="../js/lead.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
