<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/FrontEnd/style/style_home.css">
    <link rel="stylesheet" href="/FrontEnd/style/fontello.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
<!--INICIO MENU SUPERIOR -->
<header class="header">
    <div class="logo">
        <h1>Logo</h1>
    </div>
    
    <nav class="menu-superior">
        <a href="#" id="user"></a>
        <a href="#" onclick="cerrarSesion()"> Cerrar sesion</a>
    </nav>
    

</header>
<!-- FIN MENU SUPERIOR -->

<!-- INICIO MENU LATERAL -->
<div class="container2">
<div class="cont-menu-lateral">
    <nav>
        <a id="homeLateral" class="icon-home" href="/FrontEnd/view/home.html" onclick="alter(this,'red')">  Home</a>
        <a id="clientsLateral" class="icon-users" href="clients.html" onclick="client()">  Clients</a>
        <a id="leadLateral" class="icon-users" href="lead.html">  Lead</a>
        <a id="ordersLateral" class="icon-check" href="orders.html">  Orders</a>
        <a id="productsLateral" class="icon-basket" href="products.html">  Products</a>
        <a id="reportLateral" class="icon-doc-inv" href="#">Report</a>
        <a id="manageLateral" class="icon-users" href="manage.html"> Manage</a>
    </nav>
</div>

</div>
<script src="../js/Header.js"></script>
<!-- FIN MENU LATERAL -->
</body>
</html>