<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/FrontEnd/style/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container3">
        <div class="con3cloud1">ㅤ</div>
        <div class="con3cloud2">ㅤ</div>
        <div class="con3cloud3">ㅤ</div>
        <div class="con3cloud4">ㅤ</div>
        <div class="container2">
            <img src="../img/figma_regis_check.png" height="300" class="con2img">
            <h1 class="con2title ">Succesful Registration</h1>
            <h3></h3>
        </div>
        
    </div>
    
</body>
</html>