

/*INICIO CONTENEDOR REGISTRO*/
.container3{
    position: absolute;   
    top: 0;
    left: 25.9vh;
}

.con3{
    display: block;
    background-color:#EFF0F6 ;
    border: 2px solid #EFF0F6;
    border-radius: 0.7rem;
    margin-bottom: 1.7rem;
}

.con3title{
    padding-top: 5vh;
    position: relative;
    left: 68.5vh;
}

.con3pass{
    display: block;
    border: 2px solid #000000;
    border-radius: 0.7rem;
    margin-bottom: 2vh;
}
.con3p{
    font-size: small;
    padding-left: 4rem;
    color: #6E7191 ;
}

.con3img{
    margin-left: 1rem;
    bottom: 0.5rem;
    position: relative;
}


.con3inputs{
    background-color:#EFF0F6 ;
    position: relative;
    margin-left: 1rem;
    bottom: 14px;
    border: none;
}

.con3input_pass{
    position: relative;
    margin-left: 1rem;
    bottom: 14px;
    border: none;
}

.con3right_top{
    display: flex;
    position: relative;
    left: 8rem;
    top: -6rem;
}

.con3button_top{
    color: #fff;
    background-color:#276BF2 ;
    border: none;
    padding: 0.4rem;
    border-radius: 0.2rem;
    font-family: 'Poppins';
    text-decoration: none !important;
}

.con3account{
    padding-top: 0.5rem;
    padding-right: 1rem;
    margin: 0;
    font-size: small;
    font-weight: 400;
}

.register_button{
    color: #fff;
    background-color: #276BF2;
    margin-top: 2rem;
    width: 25rem;
    height: 2.4rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

.con3select{
    position: absolute;
    margin-left: 2vh;
    margin-top: 0.5vh;
}

.center-forms{
    padding-top: 6vh;
    padding-left: 65vh;
}

/*FIN CONTENEDOR REGISTRO*/
