


.slider_logos{
    top: 90vh;
    left: 26vh;
    width: 171vh;
    height: 30vh;
    margin: auto;
    overflow: hidden;
    position: fixed;
}

.slide-track_logos{
    
    display: flex;
    animation: scroll 15s linear infinite;
    -webkit-animation: scroll 15s linear infinite;
    width: calc(20vh * 20);
}

.slider_logos .slide_logos{
    width: 20vh;
}

.slide_logos img{
    height: 10vh;
    width: 100%;
}

@keyframes scroll{
    0%{ /*Tambien sirve usar from{} to{} */
        transform: translateX(0px);
    }
    100%{
        transform: translateX(calc(-20vh * 10));
    }
}


.home_chart{
    position: absolute;
    top: 15vh;
    left: 65vh;
}

.home_chart a{
    position: absolute;
    text-decoration: none;
    color: black;
    font-weight: 500;
    left: 70vh;
    transition: all 500ms ease;
}

.home_chart a:hover{
    transform: scale(1.2);
    color: green;
}

#homeLateral{
    padding: 1.8rem;
    border-left: 7px solid #c7c7c7;
}

/*FIN MENU LATERAL*/

/*RESPONSIVE*/

@media screen and (max-width:1366px){
    .slider_logos{
        top: 10vh;
        left: 25vh;
        width: auto;
        height: auto;
        margin: auto;
        overflow: hidden;
        position: fixed;
        z-index: 2;
    }

    .slide_logos img{
        height: 10vh;
        width: 100%;
    }

    .home_chart{
        position: absolute;
        top: 15vh;
        left: 45vh;
    }

}