


/*BOTONES E INPUT*/
.buttons{
    width: max-content;
    margin-left: 70vh;
}

.input-group{
    margin-top: 5vh;
}

#btn-search{
    margin-left: 1vh;
}

#btn-agg-client{
   margin-left: 25vh;
   
}

#icon-input-search{
    margin-left: 2vh;
}

#notify{
    color: #000000;
}

#msg{
    background-color: white;
    color: #000000;
}




/*INICIO TABLA*/



.cont-tabla{
    left: 25vh;
    width: 75vh;
    max-height: fit-content;
    float: left;
}

#users{
    margin-top: 5vh;
    margin-left: 70vh;
   
}

.size{
    width: max-content;
}



#icon-user{
    width: 10vh;
}


/*ENcdBLE*/

/*BEGINNING MODAL POPUP*/
.modal1{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none; /*while opacity 0 we cant select any element from the page. Pointer-events help us fix that*/
    z-index: 5;
}


.modal_container{
    height: fit-content;
    width: 50%;
    background-color: #fff;
    margin: auto; /*Centers everything because its father has a display:flex*/
}

.modal_container2{
    height: fit-content;
    width: 50%;
    background-color: #fff;
    margin: auto; /*Centers everything because its father has a display:flex*/
}

.modal_close{
    position: absolute;
    top: 18vh;
    left: 145vh;
    font-weight: bold;
    text-decoration: none;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    background-color: red;
    color: white;
    border-radius: 0.5vh;
}


.modal_close2{
    position: absolute;
    top: 18vh;
    left: 145vh;
    font-weight: bold;
    text-decoration: none;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    background-color: red;
    color: white;
    border-radius: 0.5vh;
}

.modal_close:hover{
    text-decoration: none;
    background-color: rgba(255, 0, 0, 0);
    color: rgb(0, 0, 0);
}

.modal1--show{ /*modal--show have the corresponding attributes to show the modal*/
    transition: all 500ms ease;
    opacity: 1;
    pointer-events: unset;
}


.modal2--show{
    transition: all 500ms ease;
    opacity: 1;
    pointer-events: unset;
}
/*END MODALS POPUP*/


/*BEGINNING CONTAINER3*/
.con3{
    margin-right: 20vh;
    background-color:#EFF0F6 ;
    border: 2px solid #EFF0F6;
    border-radius: 0.7rem;
    margin-bottom: 1.7rem;
}

.con3title{
    padding-top: 2vh;
    padding-bottom: 1vh;
    position: relative;
    left: 30vh;
}

.con3pass{
    margin-right: 20vh;
    border: 2px solid #000000;
    border-radius: 0.7rem;
    margin-bottom: 2vh;
}
.con3p{
    font-size: small;
    padding-left: 4rem;
    color: #6E7191 ;
}

.con3img{
    margin-left: 1rem;
    bottom: 2vh;
    position: relative;
}


.con3inputs{
    background-color:#EFF0F6 ;
    position: relative;
    margin-left: 1rem;
    bottom: 14px;
    border: none;
}

.con3input_pass{
    position: relative;
    margin-left: 1rem;
    bottom: 14px;
    border: none;
}

.con3right_top{
    display: flex;
    position: relative;
    left: 8rem;
    top: -6rem;
}

.con3button_top{
    color: #fff;
    background-color:#276BF2 ;
    border: none;
    padding: 0.4rem;
    border-radius: 0.2rem;
    font-family: 'Poppins';
    text-decoration: none !important;
}

.con3account{
    padding-top: 0.5rem;
    padding-right: 1rem;
    margin: 0;
    font-size: small;
    font-weight: 400;
}

.register_button{
    margin-left: 10vh;
    color: #fff;
    background-color: #276BF2;
    margin-top: 2vh;
    width: 40vh;
    height: 3.8vh;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    margin-bottom: 2vh;
    transition: all 500ms ease;
}

.register_button2{
    margin-left:30vh;
    color: #fff;
    background-color: #276BF2;
    margin-top: 2vh;
    width: 40vh;
    height: 3.8vh;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    margin-bottom: 2vh;
    transition: all 500ms ease;
}

.register_button:hover{
    background-color: #1636eb;
}

.con3select{
    position: absolute;
    margin-left: 2vh;
    margin-top: -1vh;
}

.center-forms{
    padding-left: 20vh;
}
.con3cloud1{
    top: 40vh;
    left: -2vh;
    border-radius: 3vh;
    background-color: rgb(160, 149, 255);
    position: absolute;
    min-width: 17vh;
}
.con3cloud2{
    top: 37.5vh;
    left: -5vh;
    border-radius: 3vh;
    background-color: rgb(160, 149, 255);
    position: absolute;
    min-width: 20vh;
}

.con3cloud3{
    top: 3vh;
    left: 111vh;
    border-radius: 3vh;
    background-color: rgb(160, 149, 255);
    position: absolute;
    min-width: 20vh;
}

.con3cloud4{
    top: 5.5vh;
    left: 111vh;
    border-radius: 3vh;
    background-color: rgb(160, 149, 255);
    position: absolute;
    min-width: 17vh;
}

/***** Beginning Succesfull Registration *****/
.container3{
    position: relative;
    margin-top: 0vh;
    background-color: #276BF2;
}



.con3cloud1{
    top: 31vh;
    left: 0vh;
    border-radius: 0;
    border-bottom-right-radius: 3vh;
    border-top-right-radius: 3vh;
    background-color: rgb(160, 149, 255);
    position: absolute;
    min-width: 17vh;
}
.con3cloud2{
    top: 28.5vh;
    left: 0vh;
    border-radius: 0;
    border-bottom-right-radius: 3vh;
    border-top-right-radius: 3vh;
    background-color: rgb(160, 149, 255);
    position: absolute;
    min-width: 20vh;
}

.con3cloud3{
    top: 3vh;
    left: 78.6vh;
    border-radius: 0;
    border-bottom-left-radius: 3vh;
    border-top-left-radius: 3vh;
    background-color: rgb(160, 149, 255);
    position: absolute;
    min-width: 20vh;
}

.con3cloud4{
    top: 5.5vh;
    left: 81.6vh;
    border-radius: 0;
    border-bottom-left-radius: 3vh;
    border-top-left-radius: 3vh;
    background-color: rgb(160, 149, 255);
    position: absolute;
    min-width: 17vh;
}

/***** END CONTAINER3 *****/

/***** BEGINNING CONTAINER4 *****/
.container4{
    margin-top: 8vh;
    backdrop-filter: blur(0px) saturate(200%);
    -webkit-backdrop-filter: blur(0px) saturate(200%);
    background: rgba(8, 44, 120, 0.59);
    border: 1px solid rgba(255, 255, 255, 0.125);

}

.con4img{
    padding-left: 32vh;
}

.con4title{
    position: relative;
    left: 25vh;
    color: #fff;
}

/***** END CONTAINER4 *****/

/*EDIT MODAL*/
.modal-header{
    background-color: #2980F2;
}

#title-modal{
    margin-left: auto;
    font-weight: 700;
    color: #000000;
}


.modal-body .input-group{
    margin-top: 2vh;
}
/*FIN EDIT MODAL*/
