:root{
    font-family: 'Poppins', sans-serif;
}


.img_container1{
    margin-left: -3vh;
    margin-top: -16vh;
}

p{
    margin: 0;

}
/*CONTENEDORES*/

.container1{
    margin-top: 10vh;
    margin-left: -20vh;
    display: grid;
    grid-template-columns: 1vh 1vh;
    grid-template-rows: 1vhfr;
    gap: 0px 0px;
    grid-template-areas: 
    "con1left con1right"; 
}

.con1left{ grid-area: con1left; }
.con1right { grid-area: con1right; }

.con1left{
    background-color: #276BF2;
    padding-top: 15vh;
    width: 65vh;
    height: 70vh;
    position: relative;
    left: 68vh;
}

.con1right{
    margin-top: 16vh;
    position: absolute;
    left: 120vh;
}

.con1title{
    position:relative; 
    margin:0;
    top: -5vh;
    font-weight: 400vh;
    padding-left: 5vh;
}

.con1subtitle{
    position:relative; 
    top: -5vh;
    font-weight: 500vh;
    color: #7A788C;
    padding-left: 5vh;
}


.con1email{
    display: block;
    background-color:#EFF0F6 ;
    border: 2px solid #EFF0F6;
    border-radius: 5vh;
    margin-bottom: 5vh;
}

.con1pass{
    display: block;
    border: 2px solid #000000;
    border-radius: 5vh;
}
.con1p{
    font-size: small;
    padding-left: 10vh;
    color: #6E7191 ;
}

.con1img{
    margin-left: 2vh;
    bottom: 1vh;
    position: relative;
}

.con1input_pass{
    position: relative;
    margin-left: 1vh;
    border: none;
}

.con1input_email{
    background-color:#EFF0F6 ;
    position: relative;
    margin-left: 2.5vh;
    bottom: 2vh;
    border: none;
}

.con1input_pass{
    position: relative;
    margin-left: 2.5vh;
    bottom: 2vh;
    border: none;
}

.con1right_top{
    display: flex;
    position: relative;
    
    left: 40vh;
    top: -15vh;
}

.con1button_top{
    color: #fff;
    background-color:#276BF2 ;
    border: none;
    padding: 1vh;
    border-radius: 1vh;
    font-family: 'Poppins';
}

.con1account{
    padding-top: 1vh;
    padding-right: 1vh;
    margin: 0;
    font-size: small;
    font-weight: 100vh;
}

.boton_login{
    color: #fff;
    background-color: #276BF2;
    margin-top: 9vh;
    width: 50vh;
    height: 7vh;
    border: none;
    border-radius: 1vh;
}
