:root{
    font-family: 'Poppins', sans-serif;
}


.img_container1{
    margin-left: 2.5rem;
}

p{
    margin: 0;

}
/*CONTENEDORES*/

.container1{
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: 
    "con1left con1right"; 
}

.con1left{ grid-area: con1left; }
.con1right { grid-area: con1right; }

.con1left{
    background-color: #276BF2;
    padding-top: 5rem;
    width: 30%;
    height: 60%;
    position: absolute;
    left: 25rem;
}

.con1right{
    margin-top: 8rem;
    position: absolute;
    left: 55%;
}

.con1title{
    position:relative; 
    margin:0;
    top: -2rem;
    font-weight: 400;
    padding-left: 2rem;
}

.con1subtitle{
    position:relative; 
    top: -2rem;
    font-weight: 500;
    color: #7A788C;
    padding-left: 2rem;
}


.con1email{
    display: block;
    background-color:#EFF0F6 ;
    border: 2px solid #EFF0F6;
    border-radius: 0.7rem;
    margin-bottom: 1.7rem;
}

.con1pass{
    display: block;
    border: 2px solid #000000;
    border-radius: 0.7rem;
}
.con1p{
    font-size: small;
    padding-left: 4rem;
    color: #6E7191 ;
}

.con1img{
    margin-left: 1rem;
    bottom: 0.5rem;
    position: relative;
}

.con1input_pass{
    position: relative;
    margin-left: 1rem;
    border: none;
}

.con1input_email{
    background-color:#EFF0F6 ;
    position: relative;
    margin-left: 1rem;
    bottom: 14px;
    border: none;
}

.con1input_pass{
    position: relative;
    margin-left: 1rem;
    bottom: 14px;
    border: none;
}

.con1right_top{
    display: flex;
    position: relative;
    
    left: 8rem;
    top: -6rem;
}

.con1button_top{
    color: #fff;
    background-color:#276BF2 ;
    border: none;
    padding: 0.4rem;
    border-radius: 0.2rem;
    font-family: 'Poppins';
}

.con1account{
    padding-top: 0.5rem;
    padding-right: 1rem;
    margin: 0;
    font-size: small;
    font-weight: 400;
}

.boton_login{
    color: #fff;
    background-color: #276BF2;
    margin-top: 2rem;
    width: 25rem;
    height: 2.4rem;
    border: none;
    border-radius: 0.4rem;
}
