#reportLateral{
    padding: 2rem;
    border-left: 7px solid #c7c7c7;
}

/*Report*/


#campos {
    background-color: #1636eb8e;
    margin-top: 10vh;
    width: max-content;
    height: min-content;
    border-radius: 5vh;
    margin-left: 50%;
    box-shadow: 11px 7px 17px 0px rgba(0,0,0,0.75);

    
}

#campos h1 {
    text-align: center;
    
}

.report_chart{
    
    position: relative;
    left: 50vh
}

@media screen and (max-width:1366px){

    }

