#reportLateral{
    padding: 2rem;
    border-left: 7px solid #c7c7c7;
}

/*Report*/
#report{
    margin-left: 30vh;
    width: auto;
    height: auto;
    background-color: #c7c7c7;
    border-radius: 5vh;
    box-shadow: 21px 18px 8px -3px rgba(0,0,0,0.75);

}

#campos {
    margin-top: 10vh;

}

#campos h1 {
    text-align: center;
    
}

